body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header {
    background-color: #4267B2;
    display: flex;
    justify-content: center;
}
.main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.content h2 {
    display: flex;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.card_image {
    max-width: 284px;
    max-height: 331px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.card_container {
    color: gray;
    border-radius: 30px;
    border-color: #4267B2;
    border-style: solid;
    margin-right: 2em;
    margin-bottom: 2em;
}

.card_header {
    margin-left: 1em;
}

.card_available_count {
    margin-left: 1em;
}

.quick_view_button {
    border-radius: 30px;
    background-color: #4267B2;
    width: 50%;
    height: 3em;
    margin: 1em;
}

.block {
    display: flex;
    justify-content: space-between;
}

.detail_img {
    border-radius: 30px;
}
.info_block {
    max-width: 500px;

}