html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background: rgb(52, 206, 142);
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

article {
  padding: 10px;
  margin: 10px;
  background: rgba(16, 233, 215, 0.178);
}

.first-wrapper{
  display: flex;
}
.right-wrap{
  display: flex;
  flex-direction: column-reverse;
  align-self: end;
}
.body-wrap{
  display: flex;
} 
.body-wrap .left-wrap{
  order : 0;
}
.body-wrap .right-wrap{
  order: 1;
}
.right-wrap article{

  
}
.left-wrap{
  display: flex;
  flex: 1 0 66.6%;
  flex-wrap: wrap;
}
.left-wrap article{
  display: flex;
  flex-direction: column;
  
  flex: 1 0 33%;
}
/* .body-wrap .left-wrap article:nth-child(1){
  order: 1;
}
.body-wrap .left-wrap article:nth-child(2){
  order: 2;
}
.body-wrap .left-wrap article:nth-child(3){
  order: 3;
}
.body-wrap .left-wrap article:nth-child(4){
  order: 4;
} */